
    <div id="container">
    <section>
        <article class="list-new" >
        <table class="table table-bordered" >
            <thead>
                <tr>
                <th></th>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="doc in allDocs">
                    <td><input type="checkbox" ng-click="toggleSelection(doc)"></td>
                    <td><p class="size-title">{{doc.title}}</p></td>
                    <td>{{doc.category}}</td>
                    <td ><p class="size-content">{{doc.content}}</p></td>
                </tr>
            </tbody>
            </table>
        </article>
        
        <div >
            <!--<button class="btn btn-primary" type="submit" ng-click="addNew()"> Add</button>-->
            <button class="btn btn-primary" type="submit" ng-click="addNew()"> Add</button>
            <button class="btn btn-primary" type="submit" ng-click="update()"> Update</button>
            <button class="btn btn-primary" type="submit"ng-click="delete()"> Delete</button>
            <div>
                <div class="AddNew" ng-show="working">
            <article >
                <div class="row">
                    <div class="col-sm-2" >
                       <label for="exampleSelect1">Category</label>
                    </div>
                    <div class="col-sm-10">
                          <input class="form-control" type="text"  id="example-text-input" ng-model="doc.category">
                    </div>
                </div>
            </article>
            <article>
                <div class="row">
                    <div class="col-sm-2" >
                        <label for="example-text-input" class=" col-form-label">Title</label>
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text"  id="example-text-input"ng-model="doc.title">
                    </div>
                </div>
            </article>
            <article>
                <div class="row">
                    <div class="col-sm-2" >
                        <label for="exampleTextarea">Content</label>
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="exampleTextarea" rows="3 "ng-model="doc.content"></textarea>
                    </div>
                </div>
            </article>
            <article >
                <div class="row">
                    <div class="col-sm-2" >
                    </div>
                    <div class="col-sm-10">
                        <button class="btn btn-primary" type="submit" ng-click="submit()">Submit</button>
                        <button class="btn btn-primary" type="submit" ng-click="working = false">Cancel</button>
                        <button class="btn btn-primary" type="submit" ng-click="reset()">Reset</button>
                    </div>
                </div>
                
            </article>
                </div>
            </div>
            
        </div>
            </div>
    </section>
    </div>
    
