
<section >
        <div class="row">
            <div class="col-md-9" >
                <div class="row">
                    <div class="col-md-6 " ng-repeat="category in newData| orderBy:'_id' | unique: 'category'" >
                        <div class="bg-title">
                        <strong class="panel-title">{{category}}</strong>
                        </div>
                        <div class="content" ng-repeat="new in newData| filter:category ">
                            <p class="bg-text"><a href="#/news/{{new._id}}">{{new.title}}</a></p>
                            <div class="row size-new">
                                <div class="col-sm-3" ><img src="image/new.jpg" style="height: 90px; width: 90px"></div>
                                <div class ="col-sm-9 "  >{{new.content |limitTo:150}}</div>
                            </div>
                            <hr>
                        </div>
                        <div class="read-more">
                            <strong>Xem tiếp >>></strong>
                        </div>
                    </div>
                </div>
            </div>
            

            <!--sidebar-->
            <div class="col-md-3">
                <div class="col-sm-3">
                 <div class="d-inline-flex p-2">
                    <img src="image/bando.jpg">
                </div>
                <div class="d-inline-flex p-2"  >
                    <img src="image/MaVungDT.png">
                </div>
                <div class="d-inline-flex p-2"  >
                    <img src="image/duong-day-nong.png">
                </div>
                <div class="d-inline-flex p-2"  >
                    <img src="image/CCHC222.jpg">
                </div>
                <div class="d-inline-flex p-2"  >
                    <img src="image/DDN_gcgs2.jpg">
                </div>
            </div>
            </div>
        </div>
    </section>